body{
    background-image: url("LandingPage/sea.jpg");
    background-size: cover;
    background-repeat: no-repeat
}
.container{
    color: grey;
    display:flex;
    justify-content:center;
    align-items: center;
}

@font-face{
    font-family:
}