*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.body{
    background: rgb (240,255,240);
    overflow: hidden;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.section h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform:translate(-50%) ;
    font-size: 4em;
}

span{
    position: absolute;
    pointer-events: none;
    animation: animate 5s linear infinite;
}

.container{
    width: 400px;height: 400px;
    display: grid;
    z-index:100;
    background: rgb(250, 250, 240);
    border-radius: 10px;
} 

.buttons{
    width: 600px;
    position: absolute;
    padding: 3em 0;
    bottom:0;
    display: flex;
    justify-content: space-around;
}

.btn{
    padding: 1em 3em;
    background:rgb(240, 255, 240);
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 100;
    letter-spacing: 1px;
}

.buttons button:last-child{
    order: -1;
}