@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*{
    margin: 0;padding: 0;
    outline: 0;
}

body{
    background-color: #eceff1;
}

.container{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fafafa;
    box-shadow: 0 5px 10px rgba(0,0,0, .1);
    width: 450px; height: 600px;
    text-align: center;
    font-family: sans-serif;
}

h1{
    margin: 12px 0;
}

.add-element{
    margin: 12px 0;
}

input{
    padding: 6px 4px;
    width: 70;
}

button{
    padding: 8px 16px;
    background-color: skyblue;
    border-radius: 4px;
    color: #fafafa;
}

.listTasks{
    height: 550px;
    overflow-y:scroll;
}

ul{
    padding: 16px;
}

li{
    list-style: none;
    padding: 10px 5px;
    background-color: #fff;
    margin: 12px 0;
    box-shadow: 0 5px 10px rgba(0,0,0, .1);
    border-radius: 3px;
    transition: .4s;
}

button:hover{
    background-color: royalblue;
}

li:hover{
    background-color: seashell;
}

.checked{
    text-decoration: line-through;
    background-color: black;
}